
<div class="post">
    <div>
        <h3>{{title}}</h3>
        <p>{{message}}</p>
    </div>
    <div class="signature">
        <p>{{account.username}} - {{format_date createdAt}} {{format_time createdAt}}
    </div>
</div>